@import "../../styles/functions";
@import "../../styles/variables";

.wishlist-item {
    $this: &;
    border-bottom: 1px solid $yellow;
    margin-bottom: pxToRem(10);
    padding-bottom: pxToRem(10);
    &__inner-container {
        display: flex;
        overflow: hidden;
        #{$this}__image {
            width: pxToRem(100);
        }
        #{$this}__content {
            flex: 1;
            padding-left: pxToRem(15);
            #{$this}__title {
                font-size: pxToRem(17);
            }
            #{$this}__sub-text {
                font-size: pxToRem(11);
                &::after {
                    margin: 0 pxToRem(3);
                    color: #dddddd;
                    content: ' | ';
                }
                &:last-child::after{
                    display: none;
                }
            }
            #{$this}__avg-text{
                font-size: pxToRem(13);
                margin-right: pxToRem(5);
            }
            #{$this}__avg-image {
                vertical-align: middle;
            }
            #{$this}__overview-text {
                font-size: pxToRem(13);
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            #{$this}__details {
                margin-bottom: pxToRem(6);
            }
        }
    }
}