@import "variables";

* {
    box-sizing: border-box;
}

html {
    font-size: $base-font-size;
    color: $white;;
}

body {
    font-family: $Roboto;
    background-color: $background-color;
}

body, h1, h2, h3, p {
    margin: 0;
}


@media (min-width: 768px) {
    html {
      font-size: 18px;
    }
}