@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";

.movie-list-item {
    $this: &;
    position: relative;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: pxToRem(20);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 3px 5px $box-shadow;
    &__content {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 2;
        background-color: rgba(0,0,0,0.4);
        display: flex;
        align-items: flex-end;
        color: #ffffff;
        padding: pxToRem(10);
        #{$this}__text-wrap {
            #{$this}__title {
                font-style: normal;
                font-weight: 400;
                font-size: pxToRem(20);
                line-height: pxToRem(24);
            }
            #{$this}__sub-text {
                font-style: normal;
                font-weight: 400;
                font-size: pxToRem(12);
                line-height: pxToRem(18);
            }
        }
    }
    @extend .hover-effect;
    
}


// @media (min-width: 768px) {
//     .movie-list-item-container {
//         width: 90%
//     }
// }

// @media (min-width: 992px) {
//     .movie-list-item-container {
//         width: 80%;
//     }
// }