@import "../../styles/variables";
@import "../../styles/functions";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: pxToRem(70);
    background-color: $black;
    padding: 0 pxToRem(20);
    // border-bottom: 1px solid $yellow;
    box-shadow: 0 3px 5px $box-shadow2;
    &__logo {
        width: pxToRem(50);
    }
}