@import "../../styles/functions";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: pxToRem(70);
    background-color: #000000;
    padding: 0 pxToRem(20);
    &__title {
        color: greenyellow;
    }
}