@import "../../styles/functions";
@import "../../styles/variables";

.details-page {
    &__inner-container {
        display: flex;
        flex-direction: column; 
    }
    &__image-desc {
        &__description{
            display: flex;
            flex-direction: column;
            padding: pxToRem(15) 0;
            &__button {
                text-transform: uppercase;
                font-size: pxToRem(12);
                font-weight: 700;
                color: $black;
                border: none;
                border-radius: 5px;
                background-color: $yellow;
                padding: pxToRem(10);
                margin-bottom: pxToRem(10);
            }
            &__description-wrap {
                margin-bottom: pxToRem(10);
                &__title {
                    font-size: pxToRem(14);
                    padding-bottom: pxToRem(5);
                    margin-bottom: pxToRem(5);
                    border-bottom: 1.5px solid $yellow;
                }
                &__info {
                    font-size: pxToRem(16);
                }
                // &__separator {
                //     width: 100%;
                //     height: pxToRem(1);
                //     margin: pxToRem(5) 0;
                //     background-color: $yellow;
                // }
            }
        }
    }
    
    &__additional-info {

    }
}


@media (min-width: 992px) {
    .details-page {
        &__image-desc {
            flex-direction: row;
            &__image{
                width: 60%;
            }
            &__description {
                width: 40%;
                padding: 0 0 0 pxToRem(15);
            }
        }
    }
}

// @media (min-width: 992px) {
//     .movie-list-item-container {
//         width: 80%;
//     }
// }